<body>
  <ng2-toasty [position]="'bottom-right'"></ng2-toasty>
  <ngx-loading-bar></ngx-loading-bar>
  <app-nav-menu></app-nav-menu>
  <div class="container-fluid pt-3 pb-3 background-dark-lighter text-light" id="container-body">
    <router-outlet></router-outlet>
  </div>
  <footer id="footer">
    <div class="container-fluid text-light background-dark-darker box-shadow-top">
      <div class="row">
        <div class="col-6">
          <div class="row">
            <div class="col-12 pt-3">
              <h5 class="border-bottom d-inline-block">Documentation</h5>
            </div>
          </div>
          <div class="row">
            <ul class="unstyled">
              <li><a class="nav-link text-light pt-0 pb-0" href="https://localhost:5001/swagger" target="_blank">Identity API</a></li>
              <li><a class="nav-link text-light pt-0 pb-0" href="https://localhost:5003/swagger" target="_blank">Album API</a></li>
              <li><a class="nav-link text-light pt-0 pb-0" href="https://localhost:5007/swagger" target="_blank">Photo API</a></li>
              <li><a class="nav-link text-light pt-0 pb-0" href="https://localhost:5005/swagger" target="_blank">Comment API</a></li>
            </ul>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-12 pt-3">
              <h5 class="border-bottom d-inline-block">About me</h5>
            </div>
          </div>
          <div class="row">
            <ul class="unstyled">
              <li><a class="nav-link text-light pt-0 pb-0" href="https://github.com/NhatTanVu"
                  target="_blank">GitHub</a>
              </li>
              <li><a class="nav-link text-light pt-0 pb-0" href="https://www.linkedin.com/in/tanvu/"
                  target="_blank">LinkedIn</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>
