<h1>Edit Photo</h1>
<form #f="ngForm" (ngSubmit)="submit()">
  <div class="form-group">
    <h5 for="photoName">Name:</h5>
    <input id="photoName" name="photoName" type="text" class="form-control col-lg-8" [(ngModel)]="photo.name" />
  </div>
  <div class="form-group">
    <h5 for="photoFile">Photo:</h5>
    <div class="row mb-2">
      <div class="col-lg-4">
        <img src="{{ photo.filePath }}" class="img-thumbnail rounded-0">
      </div>
    </div>
    <h5 for="photoTag">Tags:</h5>
    <div class="row mb-2">
      <div class="col-lg-6">
        <ng-select id="photoTag" name="photoTag" [items]="availableCategories" 
           bindLabel="name" 
           bindValue="id" 
           [hideSelected]="true"
           multiple="true"
           [(ngModel)]="photoTags">
        </ng-select>
      </div>
      <div class="col-lg-2">
        <label class="col-form-label-sm" for="photoTag">(separated by ", ")</label>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <input type="file" class="form-control-file" id="photoFile" name="photoFile" #photoFile />
      </div>
      <div class="col-lg-2 col-form-label-sm">Please choose photos having these objects:</div>
      <div class="col-lg-6 text-justify col-form-label-sm">
        <i>aeroplane, bicycle, bird, boat, bottle, bus, car, cat, chair, cow, diningtable, dog, horse, motorbike,
          person, pottedplant, sheep, sofa, train, tvmonitor</i>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row mb-2">
      <h5 class="col-lg-2" for="gmapSearchBox">Location:</h5>
      <div class="col-lg-6">
        <input id="gmapSearchBox" class="form-control" type="text" placeholder="Type location here..." #gmapSearchBox
          (keydown.enter)="$event.preventDefault()">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <div id="gmap" #gmap></div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <h5 class="col-lg-2" for="photoAlbum">Album:</h5>
      <div class="col-lg-6">
        <ng-select id="photoAlbum" name="photoAlbum" [items]="albums" 
            bindLabel="name" 
            bindValue="id" 
            [hideSelected]="true"
            multiple="false"
            maxSelectedItems=1
            [(ngModel)]="selectedAlbums">
        </ng-select>
      </div>
    </div>
  </div>  
  <div class="col-lg-8">
    <div class="row">
      <button class="btn btn-secondary mr-3" type="button" (click)="back()">Back</button>
      <button class="btn btn-primary mr-3" type="button" (click)="submit()">Save</button>
      <button class="btn btn-danger" type="button" (click)="delete()">Delete</button>
    </div>
  </div>
</form>
