<div class="row" *ngIf="globalData.displayMode == 'album'">
  <div class="col-lg-6">
    <h3>
      {{ album.name }}&nbsp;
      <a class="btn btn-secondary float-right" href="/album/edit/{{ album.id }}">Edit</a>
    </h3>
    <hr />
  </div>
</div>
<div class="explore-gallery">
  <a #imageBoxes *ngFor="let p of photos" href="/photo/{{ p.id }}">
    <div class="image-box rounded">
      <img src="{{ p.filePath }}" alt="{{ p.name }}">
      <div class="interaction-view">
        <div class="interaction-bar">
          <div class="text">
            <div class="title" title="{{ p.name }}">{{ p.name }}</div>
            <div class="author" title="{{ p.author.displayName }}">by {{ p.author.displayName }}</div>
          </div>
          <div class="engagement">
            <div class="total-comments" title="{{ p.totalComments }}">
                <i class="fas fa-comments"></i> {{ p.totalComments }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
