/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.explore-gallery .img-frame {
  border: 1px solid #CCC;
  border-radius: 5px;
  padding: 5px;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}

.explore-gallery .img-frame img {
  max-height: 300px;
  min-height: 300px;
}
