.vs/
_notes.txt
src/Docker/db/sql/
src/WebSPA/wwwroot/uploads/
_notes_JwtToken.txt
src/Services/Photo/Photo.API/wwwroot/uploads/
src/WebSPA/ClientApp/package-lock.json
src/WebSPA.Slim/ClientApp/package-lock.json
*.PublishSettings
LogFiles/
.config/
appsettings.Production.json
