.vs/
_notes.txt
src/Docker/db/sql/
src/WebSPA/wwwroot/uploads/
_notes_JwtToken.txt
src/Services/Photo/Photo.API/wwwroot/uploads/
src/WebSPA/ClientApp/package-lock.json
src/WebSPA.Slim/ClientApp/package-lock.json
*.PublishSettings
LogFiles/
.config/
appsettings.Production.json

# Python virtual environments
venv/
.env/
.env*/
.venv/
virtualenv/
ENV/
env/
*.pyc

# Python project Environment variables & Others
.env
*egg-info

# Dagster files
.tmp_dagster*/