<div id="world-map">
  <div class="row">
    <div class="col-lg-4">
      <div class="explore-gallery">
        <div #imageBoxes class="image-box rounded" *ngFor="let p of viewportPhotos" (click)="panTo(p)">
          <img src="{{ p.filePath }}" alt="{{ p.name }}">
          <a href="/photo/{{p.id}}" target="_blank" class="external-button"><i
              class="edit-link fas fa-external-link-alt"></i></a>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <input id="gmapSearchBox" class="form-control mb-2" type="text" placeholder="Type location here..." #gmapSearchBox
        (keydown.enter)="$event.preventDefault()">
      <div id="gmap" #gmap></div>
    </div>
  </div>
</div>
