<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>          
		  <Exclude>*</Exclude>
		  <Include>[MyAlbum.WebSPA]MyAlbum.Persistence.*Repository,[MyAlbum.WebSPA]MyAlbum.Core.*Storage,[MyAlbum.WebSPA]MyAlbum.Core.*Service,[MyAlbum.WebSPA]MyAlbum.WebSPA.Controllers.*Controller</Include>
          <SingleHit>false</SingleHit>
          <UseSourceLink>true</UseSourceLink>
          <IncludeTestAssembly>true</IncludeTestAssembly>
          <SkipAutoProps>true</SkipAutoProps>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>