<body>
  <ng2-toasty [position]="'bottom-right'"></ng2-toasty>
  <ngx-loading-bar></ngx-loading-bar>
  <app-nav-menu></app-nav-menu>
  <div class="container-fluid" id="container-body">
    <router-outlet></router-outlet>
  </div>
  <footer id="footer">
    <div class="container-fluid bg-light text-dark border-top mt-3">
      <div class="row">
        <div class="col-6">
          <div class="row">
            <div class="col-12 text-center font-weight-bold">Documentation</div>
          </div>
          <div class="row">
            <ul class="unstyled">
              <li><a href="/swagger" target="_blank">Developer API</a></li>
            </ul>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-12 text-center font-weight-bold">About me</div>
          </div>          
          <div class="row">
            <ul class="unstyled">
              <li><a href="https://github.com/NhatTanVu" target="_blank">GitHub</a></li>
              <li><a href="https://www.linkedin.com/in/tanvu/" target="_blank">LinkedIn</a></li>
            </ul>
          </div>
        </div>
      </div> 
    </div>
  </footer>
</body>
