<div id="view-photo">
  <div class="row">
    <div class="col-lg-6">
      <h3>
        {{ photo.name }}&nbsp;
        <a class="btn btn-secondary float-right" href="/photo/edit/{{ photo.id }}">Edit</a>
      </h3>
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="flip-container mb-2" (click)="isShownBoundingBox = !isShownBoundingBox"
        [class.flip]="isShownBoundingBox" [class.portrait]="photo.width < photo.height">
        <div class="flipper">
          <div class="front">
            <!-- front content -->
            <img src="{{ photo.filePath }}" class="img-thumbnail rounded-0">
          </div>
          <div class="back">
            <!-- back content -->
            <img src="{{ photo.boundingBoxFilePath }}" class="img-thumbnail rounded-0">
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row">
        <div class="col">
          <h4>Tags</h4>
          <hr />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <a *ngFor="let cat of photo.photoCategories" class="btn btn-outline-secondary mr-2 mb-2" [routerLink]="['/']"
            [queryParams]="{'catId': cat.id}">{{cat.name}}</a>
        </div>
      </div>
      <div [ngStyle]="(hasMap === false || hasMap === null) && {'display': 'none'}">
        <div class="row">
          <div class="col">
            <h4>Location</h4>
            <hr />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div id="gmap" #gmap></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 mb-2">
      <div>
        <h4>New Comment</h4>
        <hr />
      </div>
      <div>
        <form id="newCommentForm" #f="ngForm" (ngSubmit)="f.form.valid && submitComment()" class="container pt-2">
          <!-- <div class="row">
            <div class="form-group col-4">
              <label for="newUName" class="required">User Name:</label>
              <input id="newUName" name="newUName" type="text" class="form-control col"
                [(ngModel)]="newComment.author.userName" required />
            </div>
            <div class="form-group col-4">
              <label for="newFName">First Name:</label>
              <input id="newFName" name="newFName" type="text" class="form-control col"
                [(ngModel)]="newComment.author.firstName" />
            </div>
            <div class="form-group col-4">
              <label for="newLName">Last Name:</label>
              <input id="newLName" name="newLName" type="text" class="form-control col"
                [(ngModel)]="newComment.author.lastName" />
            </div>
          </div> -->
          <div class="row">
            <div class="col-12">
              <label for="newComment" class="required">Comment:</label>
            </div>
            <div class="col-12">
              <div class="form-group">
                <textarea id="newComment" name="newComment" type="text" class="form-control"
                  [(ngModel)]="newComment.content" required></textarea>
              </div>
              <div class="form-group">
                <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Post</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div>
        <h4>All Comments</h4>
        <hr />
      </div>
      <div>
        <app-reply-list [replies]="photo.comments"></app-reply-list>
      </div>
    </div>
  </div>
</div>